h1,h2,h3,h4,p,body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box; 
}


.section1 {
    position: relative;
    max-width: 800px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 1.5rem;
    background-color: #e93c40;
    background-image: url("../images/istockphoto-821583034-612x612.jpg");
    background-repeat: no-repeat;
    background-size: 100% 24%;
    margin-bottom: 20px;
    
}

.section1 img {
    position: absolute;
    left: 18%;
    bottom: 0%;
    z-index: 1;
    width: 63%;
    height: 26%;
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
}

.section2 {
    max-width: 800px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 1.5rem;
    background-color: #e93c40;
    background-image: url("../images/istockphoto-821583034-612x612.jpg");
    background-repeat: no-repeat;
    background-size: 100% 24%;
    position: relative;
    
}

.div1 img {
    width: 300px;
    height: 200px;
}


.footer img {
    width: 50%;
    height: 150px;
    position: absolute;
    bottom: 1%;
    left: 30%;
}

.loader {
    width: 80px;
    aspect-ratio: 1;
    color: #8d7958;
    background: linear-gradient(currentColor 0 0) 50%/100% 15px,
      linear-gradient(currentColor 0 0) 50%/15px 100%,
      radial-gradient(circle 15px,currentColor 94%,#0000);
    background-repeat: no-repeat;
    -webkit-mask: radial-gradient(circle 5px,#0000 90%,#000);
    clip-path: polygon(0 30px,calc(100% - 30px) 0,100% calc(100% - 30px),30px 100%);
    animation: l5 1.5s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
}
  @keyframes l5 { 
    100%{transform: rotate(1turn)}
  }

.menu2 {
    background: #fc5a5c;
    padding: 10px;
}